/*** Global Settings ****/
body {
	color : #18283f;
	margin : 0;
	padding : 0;
	background: transparent;
	font-family: Helvetica, Arial, sans-serif;
	#font-size: 16pt;
}

p {
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
	font-size: 120%;
	color: #18283f;
}

table.invisible {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	padding: 0px;
}

.header {
	position: fixed;
	z-index: 0;
}

.header_fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color:#e7e1c6;
	color: white;
	z-index: +1;
}

.header_content {
   display: flex;
   align-items: center;
	max-width: 700px;
	height: 60px;
	position: relative;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(images/cin_logo_header.png);
	background-position: right;
	background-repeat: no-repeat;
	text-align: left;
	padding: 0px;
}

.header_title {
	color: #562f32;
	font-size: 200%;
	font-weight: bold;
}


.banner {
	position: relative;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	height: 250px;
	padding-top: 0px;
	background-color:#e7e1c6;
}

.banner_content {
	position: relative;
	margin: auto;
	height: 250px;
	max-width: 700px;
	background-image: url(images/alan_turing.png);
	background-position: left;
	background-repeat: no-repeat;
	text-align: right;
	padding: 0px;
}

.banner_title {
	color: #562f32;
	#font-family: Helvetica, Arial, sans-serif;
	font-size: 300%;
	font-weight: bold;
	line-height: 100%;
	#text-shadow: 2px 2px white;
	margin-top: 25px;
   text-align: right;
}

.banner_subtitle {
	color: #18283f;
	font-size: 160%;
	#font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	#text-shadow: 2px 2px white;
	line-height: 140%;
	margin-top: 15px;
   text-align: right;
}

.nav {
	position: relative;
	width: 100%;
	border-top-color:white;
	border-top-style: solid;
	border-top-width: medium;
	border-bottom-color: white;
	border-bottom-style: solid;
	border-bottom-width: medium;
	#height: 40px;
	background-color: #18283f;
}

.nav_fixed {
	position: fixed;
	top: 60px;
	width: 100%;
	border-top-color:white;
	border-top-style: solid;
	border-top-width: medium;
	border-bottom-color: white;
	border-bottom-style: solid;
	border-bottom-width: medium;
	#height: 40px;
	background-color: #18283f;
	z-index: +1;
}

.nav_content {
	display: flex;
	align-items: center;
   max-width: 700px;
   margin: auto;
   font-size: 140%;
   color: white;
}
 

.nav_content ul {
	display: table;
	list-style-type: none;
 	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background-color: #18283f;
}

.nav_content li {
    display: table-cell;
    float: left;
}
		
.nav_content li a {
	display: block;
	color: white;
	text-align: center;
	padding: 4px 16px;
	text-decoration: none;
   border-bottom: 4px;
	border-bottom-style: solid;
	border-color: transparent;
}

.nav_content li a:hover {
   background-color: #18284f;
}

.nav_content .active {
   border-bottom-color: #4CAF50;
}



.headersep {
	position: relative;
	margin: 0px;
	height: 0px;
	padding: 0px;
}

.main {
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
	max-width: 700px;
}

.main_block {
	position: relative;
	width: 100%;
	padding: 0px;
}


.block_header {	
	position: relative;
	padding: 5px;
	margin: 0px;
	width: 100%;
	#background-color: #dddddd;
	
	#font-family: Helvetica, Arial, sans-serif;
	font-size: 200%;
	font-weight: bold;
	color: #562f32;
	margin-top: 15px;
}

.block_header a a:visited, a:link {
	color: #562f32;
	text-decoration : none;
	background: none;
}

.block_header a:hover {
	color: #562f32;
	text-decoration: none;
	#font-weight: bolder;
	text-shadow: 1px 1px #d0d0d0;
	background: none;
}


.block_body {
	position: relative;
	margin: 0px;
	padding: 5px;
	padding-top: 15px;
	width: 100%;
	#background-color: #eeeeee;
}

.footer {
	width: 100%;
	clear : both;
	padding: 5px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 10px;
	background-image: url(images/footer_bg.png);
}

.footer_content {
	max-width: 700px;
	margin:auto;
	margin-top: 10px;
	margin-bottom: 20px;
}

.block_icn {
	padding-right: .75em;
	height: 1em;
}

